In [2]:
!pip install pandas pandas-ta

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: pandas-ta in /opt/conda/lib/python3.11/site-packages (0.3.14b0)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [8]:
import pandas_ta as ta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from utils import load_dataset

In [9]:
df = load_dataset('./NFLX.csv')

In [10]:
df

               Close    Volume      Open      High       Low
Date
2023-08-14  427.7800   3965963  421.9900  428.8450  418.7800
2023-08-11  421.6600   3927914  428.9800  430.6317  421.3277
2023-08-10  429.9800   5467607  431.1200  438.1200  428.6900
2023-08-09  428.9000   3846639  439.7400  440.6200  427.5900
2023-08-08  438.3000   3767195  440.3600  443.5700  435.1000
...              ...       ...       ...       ...       ...
2013-08-22   38.5357   9961507   38.9314   39.0657   38.3186
2013-08-21   38.6243  21240197   38.9843   39.2357   38.2143
2013-08-20   39.0414  30108269   37.5614   39.0771   37.5000
2013-08-19   37.1114  15494785   36.8571   37.6428   36.8214
2013-08-16   36.9814  21354409   36.1728   37.1643   35.8758

[2515 rows x 5 columns]

In [16]:
df.iloc[0]

Close         427.780
Volume    3965963.000
Open          421.990
High          428.845
Low           418.780
Name: 2023-08-14 00:00:00, dtype: float64

In [17]:
df.iloc[2]

Close         429.98
Volume    5467607.00
Open          431.12
High          438.12
Low           428.69
Name: 2023-08-10 00:00:00, dtype: float64

In [5]:
prices = df.loc[:, 'Close'].to_numpy()

In [6]:
ma1 = df.ta.sma(length=20).to_numpy()
ma1 = np.where(np.isfinite(ma1), ma1, 0)

ma2 = df.ta.sma(length=50).to_numpy()
ma2 = np.where(np.isfinite(ma2), ma2, 0)

ma3 = df.ta.sma(length=100).to_numpy()
ma3 = np.where(np.isfinite(ma3), ma3, 0)

In [7]:
frame_start = 1500
frame_end = 2000
prices = prices[frame_start:frame_end]
#rsi = rsi[frame_start:frame_end]
ma1 = ma1[frame_start:frame_end]
ma2 = ma2[frame_start:frame_end]
ma3 = ma3[frame_start:frame_end]
prices.size

NameError: name 'rsi' is not defined

In [ ]:
plt.cla()
plt.figure(figsize=(20, 15))
plt.plot(prices)
#plt.plot(rsi)
plt.plot(ma1)
plt.plot(ma2)
plt.plot(ma3)

frames = range(0, prices.size, 20)
for x in frames:
    plt.axvline(x=x, color='gray')
#plt.show()
plt.savefig('./test.png')